<form action="/contact" method="POST">
  <label id="name">Name</label>
  <input type="text" placeholder="Enter your name" name="name" id="name" />
  <br />
  <label id="email">E-mail address</label>
  <input type="text" placeholder="email" name="email" />
  <br />
  <button>Create</button>
</form>