<h1>Greetings! my guy</h1>

<div>Message: {{{message}}}</div>

<div>Style: {{{style}}}</div>

<div>User ID: {{{userid}}}</div>
<br />
(click
<a href="/set-random-userid">here</a>
to change randomly)
<div>Username: {{{username}}}</div>
<br />(click
<a href="/set-random-username">here</a>
to change randomly)